<p id="notice"><%= notice %></p>

<p>
   <% if @re.image.attached? %>
     <%= image_tag @re.image %>
   <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @re.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @re.address %>
</p>

<p>
  <strong>Related Post:</strong>
  <% Post.all.each do |post|%>
    <% if post.res_id == @re.id %>
      <li>
        <%= link_to post.title, post_path %> (<i><%= post.user.name %></i>)
      </li>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_re_path(@re) %> |
<%= link_to 'Back', res_path %>